.motto {
  background-color: #1a73e8;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  display: flex;
  padding: 20px 0px 20px 0px;
  align-items: center;
}
.cards {
  border: solid #ffffff;
  margin: 5px;
}
.cp,
.web,
.android {
  width: 100%;
  height: 180px;
  padding: 20px;
}
@media screen and (max-width: 960px) {
  .motto {
    background-color: #1a73e8;
    width: 100vw;
    height: auto;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
}
