.dscaboutsvg {
  width: 100%;
  height: 100%;
}
.about {
  width: 100%;
  height: 100vh;
}
.aboutus {
  height: 400px;
  margin: 50px 0px 20px 0px;
  margin-bottom: 5%;
}
.aboutus-matter {
  align-self: center;
  text-align: left;
}
p {
  line-height: 28px;
  font-size: 17px;
  text-align: justify;
}
.motto {
  background-color: #1a73e8;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}
.cp,
.web,
.android {
  width: 290px;
  height: 180px;
  padding: 20px;
  border: solid #ffffff;
}
.colabout {
  display: flex;
  flex-direction: column;
}
.colabout > p {
  width: 290px;
  height: 180px;
  justify-content: center;
}
.colabout:hover {
  background-color: #fff;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #1a73e8;
  border-bottom: 50px solid transparent;
}
@media screen and (max-width: 960px) {
  .aboutus-matter {
    align-self: center;
    text-align: left;
    padding-top: 30px;
  }
  .about {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
  }
  .aboutus {
    height: 500px;
    margin: 50px 0px 170px 0px;
  }
}
