.heroimg {
  padding-top: 2.2%;
  width: 100%;
  height: 70%;
}
.heroTitle {
  font-weight: 500;
  padding-top: 5%;
  color: #1a73e8;
  font-size: 230%;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .heroimg {
    width: 100%;
    height: 120%;
  }
}
