.container{
    margin-top: 6%;
}
.project-container{
    height: auto;
  width: 400px;
  box-shadow: 0;
  transition: box-shadow 1s;
  cursor: pointer;
  border: 0.5px solid rgba(128, 128, 128, 0.055);
  
}
.project-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
.github-button{
    border-radius: 50% !important;
    text-align:center;      
    height: auto;
    width: auto;                 
    margin-left: 6% !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 0% !important;
    transition: box-shadow 1s;
    border: none;
}
.github-button:hover{
    box-shadow: #1a73e8f6 0px 1px 1px 1px;
}
.github-button:focus{
    outline: none !important;
}

.contribute-button{
    border: none;
    background-color: #1a73e8;
    color: white;
    padding-top: 2%;
    padding-bottom: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
    transition: box-shadow 1s;
}
.contribute-button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
hr{
    margin: 4% !important;
}